body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap; /*it allows items to wrap onto multiple lines when necessary*/
  justify-content: center; /*it is used to align and distribute flex items along the main axis of a flex container*/
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%; /*the ratio width of each image in the frame*/

  /*if the container is narrower than 300px, then it will adjust its width to 
  fit the content. But if the content is wider than 300pixels, then the container will
  not expand 300 pixels.
  */
  max-width: 300px;
}

/**/
.product-info {
  padding: 1rem;
}
